

#container{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;


    background: url(clocks.jpg) no-repeat;
    background-size: 100%;
}
#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour {
    width: 2%;
    height: 22%;
    top: 27.5%;
    left: 50.2%;
    opacity: 0.8;

}

#minute {
    width: 2%;
    height: 33%;
    top: 16.5%;
    left: 50.2%;
    opacity: 0.8;

}

#second {
    width: 1%;
    height: 29%;
    top: 20%;
    left: 50.7%;
    opacity: 0.8;
}
button{
  width: 60px;
height: 30px;
color: red;
background-color: antiquewhite;
border-radius: 8px;
}
h1{
  text-align: center;
  color: #bb7619;
  box-shadow: red;
}
